.iconContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ContainerContact {
  margin-top: 10px;
  margin-left: 15px;
}
.contacter {
  font-size: 12px;
}
.pedro {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  animation: rotating 2s linear infinite;
  cursor: pointer;
  border: 3px aqua solid;
}
@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.InfoContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin-top: 10px;
  }
}

.InfoContainer2 {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: -36px;
  img {
    width: 35px;
    height: 35px;
  }
}

.Disponible {
  margin-top: 5px;
  color: greenyellow;
}
.Indisponible {
  margin-top: 5px;
  color: rgb(160, 21, 3);
}
.Dispo {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgDispo {
  margin-top: 5px;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  background-color: aliceblue;
  border-radius: 100px;
}

.iconContact {
  margin-top: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 10%;
}
.iconContact:hover {
  background: radial-gradient(rgb(72, 88, 50), black);
  border-radius: 5px;
  padding: 1px;
}

.pp {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  cursor: pointer;
  border: 3px rgb(255, 255, 255) solid;
}
