.ProjetsContainerAll {
  margin: 15px;
  margin-bottom: 200px;
  width: 100%;
}
.ProjetsContainer h3 {
  margin-bottom: 10px;
  border: 5px;
}
.ProjectContainer {
  background-color: rgba(59, 59, 59, 0.651);
  display: flex;
  padding: 25px;
  margin: 25px;
  overflow-x: scroll;
  border-radius: 5px;
}

.divEvenementContainer img {
  width: 200px;
  height: 300px;
  margin-right: 25px;
  border-radius: 5px;
}

.divOpenEvenement p {
  padding: 15px;
  color: black;
}

.divOpenEvenement {
  background-color: rgb(121, 114, 114);
  border-radius: 5px;
  width: 100%;
}

.NameProject {
  margin: 15px;
  margin-left: 20px;
}
.titleProject {
  color: rgb(139, 6, 248);
}
